In [1]:
import os
import numpy as np
import h5py
from scipy.io import loadmat
import PIL.Image
import nibabel as nib
import pandas as pd
import pickle
import time

import sys
sys.path.append("/home/prashant/BrainDiVE/modfit/code")

from utils import default_paths, roi_utils, prf_utils
from model_fitting import initialize_fitting
import gc

ModuleNotFoundError: No module named 'utils'

In [ ]:
exp_design_file = "/media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata/experiments/nsd/nsd_expdesign.mat"
exp_design = loadmat(exp_design_file)
image_order = exp_design['masterordering'].flatten() - 1

In [ ]:
len(image_order)

30000

In [ ]:
np.min(image_order)

0

In [ ]:
image_order

array([ 625, 5012, 4849, ..., 4840, 7322, 9971], dtype=uint16)

In [ ]:
exp_design

{'__header__': b'MATLAB 5.0 MAT-file, Platform: MACI64, Created on: Tue Jan  1 11:44:55 2019',
 '__version__': '1.0',
 '__globals__': [],
 'basiccnt': array([[447, 438, 423, 429, 426, 413, 420, 439, 423, 450, 462, 429, 421,
         432, 424, 438, 455, 443, 416, 425, 435, 460, 424, 451, 395, 449,
         452, 443, 456, 459, 465, 433, 459, 419, 431, 436, 444, 443, 436,
         424],
        [105, 102, 117, 102, 108, 116, 105, 109, 117,  90, 105, 117, 112,
         108, 109,  99, 101,  98, 107, 101, 102, 103, 115, 103, 104, 104,
         116, 101,  99, 102,  96, 109,  99, 119, 101, 103, 102,  98, 103,
         118],
        [ 31,  36,  31,  39,  36,  35,  40,  31,  31,  40,  26,  29,  35,
          34,  36,  38,  31,  37,  40,  41,  37,  28,  32,  31,  49,  31,
          22,  35,  32,  29,  31,  33,  31,  31,  39,  36,  34,  37,  36,
          30]], dtype=uint16),
 'masterordering': array([[ 626, 5013, 4850, ..., 4841, 7323, 9972]], dtype=uint16),
 'sharedix': array([[ 2951,  2991,  3050,  3078,  3147,  3158,  3165,  3172,  3182,
          3387,  3435,  3450,  3490,  3627,  3683,  3688,  3730,  3810,
          3843,  3848,  3857,  3914,  3952,  4052,  4059,  4130,  4157,
          4250,  4326,  4424,  4437,  4613,  4668,  4691,  4769,  4787,
          4836,  4870,  4893,  4931,  5035,  5107,  5205,  5286,  5302,
          5339,  5428,  5460,  5503,  5543,  5575,  5584,  5603,  5715,
          5879,  5891,  6133,  6200,  6223,  6432,  6445,  6490,  6515,
          6522,  6525,  6559,  6641,  6714,  6802,  7008,  7040,  7121,
          7208,  7337,  7367,  7410,  7419,  7481,  7655,  7660,  7841,
          7860,  7945,  7949,  7955,  8007,  8110,  8205,  8226,  8263,
          8275,  8319,  8388,  8395,  8416,  8436,  8466,  8510,  8632,
          8647,  8808,  8844,  8926,  8934,  9028,  9049,  9148,  9231,
          9435,  9463,  9681,  9723,  9805,  9848,  9866,  9918,  9979,
         10007, 10047, 10065, 10106, 10108, 10245, 10394, 10472, 10508,
         10587, 10601, 10611, 10908, 11160, 11334, 11488, 11522, 11567,
         11618, 11636, 11690, 11726, 11797, 11828, 11838, 11845, 11933,
         11943, 11953, 12066, 12076, 12215, 12309, 12488, 12496, 12635,
         12686, 12797, 12799, 12923, 12938, 13139, 13231, 13313, 13315,
         13614, 13654, 13663, 13721, 13847, 14111, 14122, 14166, 14180,
         14444, 14529, 14568, 14595, 14611, 14645, 14794, 14809, 14821,
         14899, 14932, 15004, 15026, 15129, 15365, 15493, 15507, 15794,
         15820, 15940, 16064, 16253, 16345, 16422, 16467, 16617, 16636,
         16656, 16703, 16724, 16824, 16842, 16866, 16869, 16918, 17049,
         17231, 17239, 17370, 17375, 17451, 17464, 17486, 17550, 17596,
         17777, 17795, 17935, 17943, 18269, 18435, 18484, 18506, 18536,
         18544, 18691, 18797, 19075, 19182, 19200, 19201, 19293, 19437,
         19574, 19643, 19673, 19691, 19934, 20055, 20065, 20081, 20207,
         20224, 20266, 20308, 20443, 20634, 20651, 20703, 20739, 20778,
         20821, 21109, 21193, 21195, 21198, 21219, 21254, 21280, 21319,
         21509, 21527, 21554, 21602, 21704, 21951, 21990, 22139, 22144,
         22156, 22264, 22388, 22496, 22506, 22516, 22524, 22531, 22586,
         22588, 22773, 22783, 22795, 22810, 22846, 22874, 22880, 22887,
         22958, 22968, 22994, 23037, 23242, 23493, 23716, 23730, 23872,
         23877, 23884, 23994, 24203, 24215, 24265, 24318, 24481, 24518,
         24531, 24561, 24639, 24641, 24650, 24740, 24741, 24788, 24847,
         25060, 25092, 25112, 25206, 25251, 25269, 25285, 25288, 25319,
         25320, 25372, 25455, 25571, 25579, 25582, 25589, 25603, 25694,
         25703, 25712, 25742, 25747, 25882, 25907, 25960, 26120, 26128,
         26164, 26244, 26293, 26308, 26352, 26373, 26436, 26459, 26599,
         26721, 26781, 26896, 26910, 26972, 26991, 27243, 27276, 27288,
         27327, 27436, 27569, 27581, 27831, 27879, 27973, 28025, 28069,
         28097, 28160, 28190, 28287, 28304, 28320, 28326, 28342, 28350,
         28419, 28488, 28525, 28596, 28690, 28746, 28752, 28756, 28789,
         28899, 28964, 29011, 29022, 29382, 29569, 29661, 29664, 29681,
         29712, 29838, 29887, 29920, 29981, 30082, 30374, 30396, 30408,
         30431, 30564, 30602, 30633, 30673, 30675, 30848, 30857, 30888,
         30923, 30936, 30955, 31029, 31050, 31065, 31124, 31234, 31350,
         31447, 31660, 31748, 31783, 31802, 31838, 31937, 31965, 32054,
         32233, 32304, 32308, 32626, 32644, 32717, 32772, 32773, 32858,
         32892, 32911, 33132, 33172, 33190, 33246, 33290, 33522, 33544,
         33753, 33814, 33907, 34069, 34081, 34090, 34127, 34187, 34239,
         34419, 34604, 34752, 34830, 34846, 34851, 34875, 34976, 35095,
         35130, 35744, 35753, 35791, 35799, 35987, 36068, 36259, 36477,
         36570, 36577, 36624, 36630, 36683, 36732, 36760, 36911, 36946,
         36975, 36979, 37060, 37222, 37225, 37437, 37495, 37609, 37737,
         37802, 37928, 38023, 38026, 38061, 38247, 38279, 38298, 38311,
         38359, 38484, 38487, 38495, 38642, 38795, 38818, 38830, 38854,
         38979, 39048, 39059, 39096, 39290, 39299, 39370, 39403, 39510,
         39548, 39554, 39842, 39998, 40154, 40236, 40424, 40549, 40576,
         40722, 40771, 40841, 40847, 40910, 40921, 40925, 40936, 40980,
         41057, 41098, 41117, 41138, 41163, 41483, 41567, 41575, 41624,
         41654, 41711, 41779, 41815, 41928, 41935, 42008, 42127, 42167,
         42172, 42215, 42225, 42239, 42300, 42474, 42564, 42643, 42649,
         42698, 42782, 42852, 42913, 42947, 42981, 43108, 43157, 43158,
         43160, 43165, 43225, 43251, 43289, 43429, 43430, 43446, 43466,
         43501, 43620, 43676, 43690, 43747, 43819, 43821, 43853, 43951,
         43985, 44053, 44098, 44108, 44139, 44145, 44185, 44325, 44340,
         44370, 44413, 44706, 44721, 44730, 44737, 44845, 44972, 44981,
         45130, 45214, 45357, 45596, 45633, 45747, 45751, 45838, 45844,
         45946, 45982, 45983, 46000, 46003, 46037, 46102, 46137, 46151,
         46161, 46275, 46322, 46373, 46381, 46461, 46463, 46481, 46524,
         46643, 46662, 46807, 46836, 46862, 47034, 47071, 47100, 47201,
         47291, 47294, 47322, 47409, 47599, 47601, 47615, 47657, 47688,
         48158, 48261, 48375, 48380, 48394, 48423, 48509, 48531, 48618,
         48619, 48623, 48680, 48682, 48803, 48833, 48840, 49077, 49153,
         49157, 49235, 49467, 49481, 49623, 49732, 49924, 49945, 49956,
         49958, 49970, 49980, 50027, 50115, 50171, 50501, 50654, 50735,
         50756, 50812, 50883, 51052, 51053, 51063, 51078, 51149, 51172,
         51186, 51522, 51746, 51789, 51844, 51908, 51929, 51966, 51984,
         51989, 52071, 52217, 52303, 52329, 52376, 52395, 52528, 52555,
         52597, 52599, 52653, 52893, 52932, 52991, 53053, 53071, 53153,
         53156, 53158, 53271, 53371, 53490, 53512, 53571, 53728, 53729,
         53774, 53859, 53882, 53892, 54079, 54148, 54258, 54362, 54390,
         54644, 54684, 54699, 54744, 54813, 54825, 54914, 54960, 55006,
         55108, 55164, 55406, 55409, 55527, 55650, 55670, 55679, 55681,
         55858, 55934, 55969, 55970, 56043, 56067, 56127, 56155, 56270,
         56291, 56315, 56419, 56455, 56472, 56671, 56682, 56696, 56724,
         56752, 56783, 56785, 56851, 56868, 56912, 56949, 57047, 57061,
         57436, 57444, 57479, 57543, 57554, 57649, 57651, 57682, 57823,
         57839, 57907, 58097, 58145, 58165, 58188, 58405, 58669, 58682,
         59024, 59040, 59047, 59080, 59092, 59195, 59285, 59420, 59421,
         59586, 59596, 59632, 59700, 59818, 59995, 60095, 60120, 60187,
         60252, 60306, 60457, 60506, 60520, 60554, 60726, 60835, 60846,
         60868, 60979, 61123, 61134, 61178, 61217, 61511, 61514, 61678,
         61739, 61749, 61753, 61798, 61802, 61810, 61874, 61973, 62007,
         62016, 62210, 62229, 62276, 62303, 62366, 62480, 62545, 62562,
         62684, 62749, 62961, 63082, 63183, 63346, 63450, 63747, 63782,
         63826, 63923, 63932, 63945, 64005, 64097, 64296, 64484, 64499,
         64616, 64622, 64688, 64772, 64868, 64881, 64894, 64980, 65011,
         65070, 65149, 65188, 65233, 65254, 65268, 65377, 65415, 65446,
         65640, 65655, 65687, 65770, 65800, 65822, 65873, 65921, 65944,
         66005, 66215, 66217, 66279, 66331, 66343, 66422, 66465, 66480,
         66490, 66581, 66644, 66774, 66837, 66947, 66977, 67046, 67114,
         67169, 67205, 67238, 67253, 67296, 67364, 67743, 67803, 67830,
         68024, 68169, 68279, 68312, 68340, 68419, 68472, 68742, 68815,
         68843, 68859, 68898, 69008, 69026, 69031, 69131, 69215, 69241,
         69443, 69503, 69615, 69617, 69786, 69814, 69832, 69840, 69855,
         69919, 70039, 70076, 70096, 70194, 70233, 70336, 70361, 70369,
         70428, 70506, 70586, 70590, 70672, 70759, 70765, 70948, 71026,
         71187, 71230, 71233, 71242, 71411, 71451, 71754, 71895, 71929,
         72016, 72081, 72171, 72210, 72258, 72313, 72511, 72606, 72720,
         72949]], dtype=int32),
 'stimpattern': array([[[0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0]],

        [[0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0]],

        [[0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0]],

        ...,

        [[0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0]],

        [[0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0]],

        [[0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0]]], dtype=uint8),
 'subjectim': array([[ 2951,  2991,  3050, ..., 19472, 49508, 11124],
        [ 2951,  2991,  3050, ..., 29015, 40443,  7566],
        [ 2951,  2991,  3050, ..., 40627, 60549, 60491],
        ...,
        [ 2951,  2991,  3050, ..., 22828, 64982, 39213],
        [ 2951,  2991,  3050, ..., 68368, 68973, 16416],
        [ 2951,  2991,  3050, ..., 24254, 14948, 42093]], dtype=int32)}

In [ ]:
x = exp_design["subjectim"]

In [ ]:
x

array([[ 2951,  2991,  3050, ..., 19472, 49508, 11124],
       [ 2951,  2991,  3050, ..., 29015, 40443,  7566],
       [ 2951,  2991,  3050, ..., 40627, 60549, 60491],
       ...,
       [ 2951,  2991,  3050, ..., 22828, 64982, 39213],
       [ 2951,  2991,  3050, ..., 68368, 68973, 16416],
       [ 2951,  2991,  3050, ..., 24254, 14948, 42093]], dtype=int32)

In [ ]:
a = np.repeat(np.arange(0, 5), 3)
a

array([0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4])

In [ ]:
fn2load = "/media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata_betas/ppdata/subj01/func1pt8mm/betas_fithrf_GLMdenoise_RR/betas_session01.nii.gz"
print('Loading from %s...'%fn2load)
values1 = nib.load(fn2load).get_fdata()
values = nib.load(fn2load).get_fdata().transpose((3, 0, 1, 2))
# values = load_from_nii(fn2load).transpose((3,0,1,2))
print('Raw data:')
print(values.dtype, np.min(values), np.max(values), values.shape)

betas = values.reshape((len(values), -1), order='C')

Loading from /media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata_betas/ppdata/subj01/func1pt8mm/betas_fithrf_GLMdenoise_RR/betas_session01.nii.gz...
Raw data:
float64 -32768.0 32767.0 (750, 81, 104, 83)

In [ ]:
print(values1.shape, values.shape, betas.shape)

(81, 104, 83, 750) (750, 81, 104, 83) (750, 699192)

In [7]:
subject = 1
fn2load = "/media/internal_8T/prashant/BrainDiVE/nsd/stimuli/Image_data_partitions.npy"
print()
print('loading train/holdout/val image list from %s'%fn2load)
partitions = np.load(fn2load, allow_pickle=True).item()
is_trn = partitions['is_trn'][:,subject-1]
is_holdout = partitions['is_holdout'][:,subject-1]
is_val = partitions['is_val'][:,subject-1]

loading train/holdout/val image list from /media/internal_8T/prashant/BrainDiVE/nsd/stimuli/Image_data_partitions.npy

In [6]:
print(is_trn, is_trn.shape)

[False False False ...  True  True  True] (10000,)

In [8]:
def get_subj_df(subject):
    """
    Get info about the 10,000 images that were shown to each subject.
    Note this is not the full ordered sequence of trials (which is 30,000 long)
    This is only the unique images 
    (matches what is in /user_data/mmhender/nsd_stimuli/stimuli/nsd/S1_stimuli....h5py)
    """
    exp_design_file = "/media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata/experiments/nsd/nsd_expdesign.mat"
    exp_design = loadmat(exp_design_file)
    subject_idx  = exp_design['subjectim']
    
    nsd_meta_file = "/media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata/experiments/nsd/nsd_stim_info_merged.pkl"
    with open(nsd_meta_file,'rb') as f:
        stim_info = pickle.load(f,encoding="latin1")
    
    ss=subject-1
    subject_df = stim_info.loc[subject_idx[ss,:]-1]

    return subject_df

In [19]:
ss = 7
subject_df = get_subj_df(ss)
val_image_inds = subject_df['shared1000']
trn_image_inds = ~subject_df['shared1000']
subject_df

,cocoId,cocoSplit,cropBox,loss,nsdId,flagged,BOLD5000,shared1000,subject1,subject2,...,subject5_rep2,subject6_rep0,subject6_rep1,subject6_rep2,subject7_rep0,subject7_rep1,subject7_rep2,subject8_rep0,subject8_rep1,subject8_rep2
2950,262145,train2017,"(0, 0, 0.16640625, 0.16640625)",0.093750,2950,False,True,True,1,1,...,27566,2616,9716,27566,2616,9716,27566,2616,9716,27566
2990,262239,train2017,"(0, 0, 0.1671875, 0.1671875)",0.100000,2990,False,True,True,1,1,...,27711,18458,18697,27711,18458,18697,27711,18458,18697,27711
3049,262414,train2017,"(0, 0, 0.125, 0.125)",0.000000,3049,False,True,True,1,1,...,6697,6299,6448,6697,6299,6448,6697,6299,6448,6697
3077,524646,train2017,"(0, 0, 0.1671875, 0.1671875)",0.000000,3077,False,True,True,1,1,...,4537,4289,4515,4537,4289,4515,4537,4289,4515,4537
3146,262690,train2017,"(0, 0, 0.16640625, 0.16640625)",0.000000,3146,False,True,True,1,1,...,26807,8087,8443,26807,8087,8443,26807,8087,8443,26807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62322,476569,train2017,"(0, 0, 0.1671875, 0.1671875)",0.000000,62322,False,False,False,0,0,...,0,0,0,0,16047,25126,26116,0,0,0
47244,155754,train2017,"(0, 0, 0.0, 0.25)",0.142857,47244,False,False,False,0,0,...,0,0,0,0,20996,27976,28214,0,0,0
68367,499952,train2017,"(0, 0, 0.125, 0.125)",0.111111,68367,False,False,False,0,0,...,0,0,0,0,18337,18398,18606,0,0,0
68972,240175,train2017,"(0, 0, 0.125, 0.125)",0.000000,68972,False,False,False,0,0,...,0,0,0,0,1264,11935,17174,0,0,0
16415,268921,train2017,"(0, 0, 0.1, 0.1)",0.000000,16415,False,False,False,0,0,...,0,0,0,0,2432,16097,16178,0,0,0

In [26]:
val_image_inds

2950      True
2990      True
3049      True
3077      True
3146      True
         ...
1913     False
15168    False
19471    False
49507    False
11123    False
Name: shared1000, Length: 10000, dtype: bool

In [23]:
np.sum(val_image_inds)

1000

In [24]:
np.where(trn_image_inds)[0]

array([1000, 1001, 1002, ..., 9997, 9998, 9999])

In [33]:
inds_notval = np.where(trn_image_inds)[0]

inds_notval

array([1000, 1001, 1002, ..., 9997, 9998, 9999])

In [12]:
df["nsdId"]

2950      2950
2990      2990
3049      3049
3077      3077
3146      3146
         ...
1913      1913
15168    15168
19471    19471
49507    49507
11123    11123
Name: nsdId, Length: 10000, dtype: int64

In [2]:
import pickle as pkl
import pandas as pd
 
# Load the pickled object
try:
    with open("/media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata/experiments/nsd/nsd_stim_info_merged.pkl", "rb") as f:
        data = pkl.load(f, encoding='latin1')  # Specify encoding to handle different character sets
except UnicodeDecodeError as e:
    print(f"Error loading pickle file: {e}")
    raise
 
# Convert the loaded object into a pandas DataFrame
df = pd.DataFrame(data)
 
# Save the DataFrame to a CSV file
df.to_csv(r'/media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata/experiments/nsd/nsd_stim_info_merged.csv', index=False)

In [3]:
csv_obj = pd.read_csv("/media/internal_8T/prashant/BrainDiVE/nsd_data/nsddata/experiments/nsd/nsd_stim_info_merged.csv")

In [4]:
csv_obj

,cocoId,cocoSplit,cropBox,loss,nsdId,flagged,BOLD5000,shared1000,subject1,subject2,...,subject5_rep2,subject6_rep0,subject6_rep1,subject6_rep2,subject7_rep0,subject7_rep1,subject7_rep2,subject8_rep0,subject8_rep1,subject8_rep2
0,532481,val2017,"(0, 0, 0.1671875, 0.1671875)",0.100000,0,False,False,False,0,0,...,0,0,0,0,0,0,0,0,0,0
1,245764,val2017,"(0, 0, 0.125, 0.125)",0.000000,1,False,False,False,0,0,...,0,0,0,0,13985,14176,28603,0,0,0
2,385029,val2017,"(0, 0, 0.125, 0.125)",0.000000,2,False,False,False,0,0,...,0,0,0,0,0,0,0,0,0,0
3,311303,val2017,"(0, 0, 0.16640625, 0.16640625)",0.125000,3,False,False,False,0,0,...,0,0,0,0,0,0,0,0,0,0
4,393226,val2017,"(0, 0, 0.125, 0.125)",0.133333,4,False,False,False,0,0,...,0,13720,22861,23023,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72995,518071,train2017,"(0, 0, 0.125, 0.125)",0.000000,72995,False,False,False,0,0,...,0,0,0,0,0,0,0,6083,11650,26531
72996,255930,train2017,"(0, 0, 0.125, 0.125)",0.125000,72996,False,False,False,0,0,...,0,0,0,0,0,0,0,10402,10434,10625
72997,255934,train2017,"(0, 0, 0.1, 0.1)",0.000000,72997,False,False,False,0,0,...,0,0,0,0,0,0,0,0,0,0
72998,518080,train2017,"(0.125, 0.125, 0, 0)",0.000000,72998,False,False,False,0,0,...,0,0,0,0,5585,11846,14495,0,0,0
72999,518083,train2017,"(0, 0, 0.16640625, 0.16640625)",0.000000,72999,False,False,False,1,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
all_coco = list(csv_obj["cocoId"])

In [30]:
a = np.unique(all_coco)

73000

In [35]:
current_box = list(csv_obj[csv_obj["cocoId"]==int(532481)]["cropBox"])
current_box

['(0, 0, 0.1671875, 0.1671875)']

In [29]:
np.sum(csv_obj["cocoId"]==int(532481))

1

In [3]:
import numpy as np
import h5py

In [43]:
raw_path = "/media/internal_8T/prashant/BrainDiVE/NSD_zscored/subj_7.npy"
b = np.load(raw_path)

In [44]:
b.shape

(8470, 600210)

In [45]:
path = "/media/internal_8T/prashant/BrainDiVE/NSD_zscored/cortex/cortex_subj_7.npy"
data = h5py.File(path, 'r')
key = list(data.keys())

In [46]:
len(key)

8470

In [47]:
a = data[key[0]][:]

In [48]:
a.shape

(600210,)

In [49]:
key

['100012',
 '100274',
 '100283',
 '100337',
 '100354',
 '10039',
 '100396',
 '100404',
 '100438',
 '10046',
 '100468',
 '100517',
 '100579',
 '100599',
 '100611',
 '100717',
 '100798',
 '100827',
 '100863',
 '101059',
 '101069',
 '101106',
 '101265',
 '101283',
 '101357',
 '101401',
 '10149',
 '101620',
 '101643',
 '101780',
 '101862',
 '101952',
 '101969',
 '101985',
 '102004',
 '10229',
 '102297',
 '102353',
 '102357',
 '102405',
 '102460',
 '102529',
 '102594',
 '102655',
 '102663',
 '102670',
 '102724',
 '102754',
 '102755',
 '102815',
 '103030',
 '103086',
 '103098',
 '103151',
 '103163',
 '103236',
 '103257',
 '103306',
 '103366',
 '103383',
 '103539',
 '103556',
 '103613',
 '103699',
 '103873',
 '103890',
 '103969',
 '103970',
 '103978',
 '104001',
 '104044',
 '104081',
 '104125',
 '104126',
 '104177',
 '104191',
 '104326',
 '104368',
 '104406',
 '104502',
 '104588',
 '104589',
 '104711',
 '104817',
 '104837',
 '104953',
 '104973',
 '105014',
 '105113',
 '105452',
 '105529',
 '105603',
 '105626',
 '105688',
 '105691',
 '105750',
 '105757',
 '105879',
 '106107',
 '10613',
 '106144',
 '106145',
 '106222',
 '106272',
 '106314',
 '106586',
 '106615',
 '106646',
 '106677',
 '106849',
 '106901',
 '106915',
 '106970',
 '10710',
 '107204',
 '107305',
 '107362',
 '10743',
 '107481',
 '107495',
 '107607',
 '107628',
 '107729',
 '107747',
 '107782',
 '107787',
 '107851',
 '107860',
 '107884',
 '107900',
 '107939',
 '107954',
 '107982',
 '108000',
 '108021',
 '108155',
 '108266',
 '108272',
 '108293',
 '108501',
 '108617',
 '108655',
 '108701',
 '108722',
 '108762',
 '108879',
 '108894',
 '108961',
 '10903',
 '109148',
 '109278',
 '10936',
 '109486',
 '109858',
 '110',
 '110019',
 '110023',
 '11010',
 '110156',
 '110169',
 '110204',
 '110308',
 '110371',
 '11042',
 '110439',
 '110601',
 '110606',
 '110611',
 '110672',
 '110723',
 '11075',
 '110779',
 '110780',
 '110821',
 '110855',
 '110989',
 '111024',
 '111117',
 '111223',
 '111348',
 '111385',
 '111416',
 '11147',
 '111489',
 '111536',
 '111543',
 '111547',
 '111609',
 '111768',
 '111788',
 '111811',
 '111930',
 '11198',
 '11202',
 '112022',
 '112106',
 '112110',
 '112358',
 '112536',
 '112734',
 '11292',
 '112950',
 '112959',
 '11299',
 '11302',
 '11305',
 '113144',
 '113261',
 '113282',
 '113294',
 '113449',
 '113495',
 '113593',
 '113598',
 '11364',
 '113668',
 '113722',
 '11373',
 '113861',
 '113952',
 '113985',
 '114035',
 '114077',
 '114079',
 '114087',
 '114152',
 '114185',
 '114202',
 '114240',
 '114259',
 '114375',
 '114481',
 '114521',
 '114541',
 '114697',
 '114732',
 '114822',
 '114891',
 '114946',
 '114968',
 '115080',
 '115117',
 '115119',
 '115126',
 '115157',
 '115169',
 '115319',
 '115361',
 '115574',
 '115637',
 '115649',
 '115681',
 '115791',
 '115846',
 '115864',
 '115870',
 '115967',
 '116017',
 '116065',
 '116131',
 '116181',
 '116204',
 '11638',
 '1164',
 '116466',
 '11655',
 '116562',
 '116570',
 '116588',
 '116603',
 '116622',
 '116667',
 '11667',
 '116792',
 '116886',
 '117046',
 '11712',
 '117197',
 '117237',
 '117250',
 '117300',
 '117328',
 '117374',
 '117535',
 '117667',
 '117668',
 '117722',
 '117821',
 '117918',
 '117935',
 '118134',
 '118169',
 '118242',
 '118277',
 '118478',
 '11856',
 '118606',
 '118724',
 '118734',
 '118764',
 '11877',
 '118862',
 '118885',
 '118974',
 '119108',
 '119113',
 '119139',
 '119214',
 '119292',
 '119297',
 '119357',
 '119444',
 '119488',
 '119494',
 '119640',
 '119647',
 '119669',
 '119706',
 '119882',
 '119964',
 '119965',
 '119966',
 '120254',
 '120369',
 '120375',
 '1204',
 '12044',
 '120472',
 '120541',
 '120566',
 '120613',
 '120645',
 '120676',
 '12081',
 '120850',
 '120926',
 '12096',
 '120987',
 '121232',
 '121263',
 '121328',
 '12138',
 '121452',
 '121562',
 '121613',
 '121692',
 '121709',
 '121788',
 '121795',
 '121891',
 '122028',
 '122029',
 '122166',
 '122194',
 '122267',
 '122356',
 '122360',
 '122436',
 '122527',
 '122606',
 '122776',
 '122802',
 '122811',
 '122874',
 '122923',
 '123067',
 '123099',
 '123177',
 '1232',
 '12326',
 '123336',
 '123359',
 '123462',
 '123697',
 '123699',
 '123722',
 '123835',
 '123848',
 '12386',
 '124028',
 '124055',
 '124067',
 '124072',
 '124197',
 '124297',
 '1244',
 '12440',
 '124473',
 '124562',
 '124594',
 '124621',
 '124627',
 '124643',
 '124703',
 '124707',
 '124711',
 '124747',
 '124759',
 '124804',
 '124812',
 '124829',
 '124834',
 '124955',
 '125042',
 '12524',
 '125407',
 '125466',
 '12547',
 '125473',
 '125494',
 '125524',
 '125575',
 '125586',
 '125635',
 '125746',
 '125845',
 '126098',
 '126433',
 '126495',
 '126595',
 '126734',
 '126737',
 '126809',
 '126941',
 '127110',
 '127189',
 '127267',
 '127278',
 '127400',
 '127405',
 '127517',
 '127530',
 '127531',
 '127558',
 '12756',
 '12757',
 '127587',
 '127726',
 '127761',
 '127880',
 '127942',
 '12795',
 '128119',
 '128211',
 '12824',
 '128278',
 '128291',
 '128377',
 '128405',
 '128439',
 '128518',
 '128528',
 '128607',
 '128621',
 '128670',
 '128752',
 '128907',
 '128912',
 '129060',
 '129072',
 '129143',
 '129216',
 '129328',
 '129407',
 '129563',
 '129586',
 '129637',
 '129756',
 '129765',
 '129766',
 '129832',
 '129843',
 '129872',
 '129914',
 '129951',
 '130006',
 '130116',
 '130180',
 '130181',
 '130262',
 '13031',
 '130492',
 '130555',
 '130681',
 '130749',
 '130759',
 '1308',
 '13081',
 '130826',
 '130886',
 '130955',
 '130973',
 '130997',
 '131011',
 '131074',
 '131152',
 '131159',
 '131162',
 '131208',
 '131295',
 '131351',
 '131524',
 '131627',
 '131674',
 '13176',
 '131763',
 '131884',
 '131965',
 '131978',
 '132094',
 '132297',
 '132310',
 '132389',
 '132497',
 '132509',
 '132517',
 '132527',
 '132552',
 '132554',
 '132646',
 '132703',
 '13273',
 '132883',
 '132946',
 '132954',
 '133051',
 '133183',
 '13325',
 '133278',
 '133281',
 '133327',
 '133449',
 '133470',
 '133517',
 '13355',
 '13357',
 '133580',
 '133688',
 '133730',
 '133739',
 '133883',
 '133912',
 '133964',
 '133995',
 '134001',
 '134010',
 '134169',
 '134297',
 '134386',
 '134420',
 '13455',
 '134562',
 '134754',
 '134755',
 '134801',
 '134835',
 '134837',
 '134844',
 '134858',
 '134955',
 '135032',
 '135071',
 '135126',
 '135167',
 '135256',
 '135287',
 '135316',
 '135338',
 '135361',
 '135627',
 '13565',
 '135744',
 '135748',
 '135790',
 '135890',
 '135900',
 '135965',
 '135972',
 '135982',
 '136042',
 '136111',
 '136141',
 '136142',
 '136229',
 '136245',
 '136302',
 '136328',
 '136343',
 '136512',
 '136609',
 '136653',
 '136663',
 '136701',
 '136711',
 '136783',
 '136785',
 '136793',
 '136846',
 '136881',
 '136938',
 '137006',
 '137106',
 '137110',
 '137134',
 '137265',
 '137294',
 '137297',
 '137413',
 '137552',
 '137706',
 '137734',
 '137748',
 '137808',
 '137877',
 '138153',
 '138189',
 '138254',
 '138288',
 '13832',
 '138367',
 '138595',
 '138621',
 '138648',
 '138785',
 '138834',
 '138904',
 '138948',
 '13900',
 '139065',
 '13912',
 '139140',
 '139152',
 '139165',
 '1392',
 '13922',
 '139272',
 '139339',
 '139344',
 '139380',
 '139426',
 '13948',
 '139539',
 '139555',
 '139561',
 '139614',
 '13969',
 '139739',
 '139748',
 '139839',
 '13988',
 '139904',
 '139958',
 '139970',
 '139971',
 '139982',
 '139983',
 '140065',
 '140068',
 '140243',
 '14027',
 '140294',
 '140308',
 '140352',
 '14036',
 '140360',
 '140481',
 '140513',
 '140522',
 '140548',
 '140590',
 '140617',
 '140636',
 '140690',
 '140708',
 '140724',
 '140821',
 '140940',
 '141003',
 '141015',
 '141095',
 '141251',
 '141346',
 '141376',
 '141475',
 '141501',
 '141604',
 '141616',
 '141664',
 '141709',
 '141825',
 '141860',
 '141879',
 '141947',
 '142127',
 '142129',
 '142130',
 '142201',
 '142342',
 '142668',
 '142757',
 '14276',
 '142769',
 '142803',
 '142890',
 '142934',
 '143010',
 '143140',
 '143234',
 '143245',
 '143333',
 '143339',
 '143420',
 '143501',
 '143594',
 '143671',
 '143699',
 '143749',
 '143764',
 '143781',
 '143792',
 '143876',
 '143959',
 '144058',
 '144298',
 '144383',
 '144599',
 '144796',
 '145116',
 '145502',
 '145553',
 '145562',
 '145573',
 '145638',
 '14567',
 '145684',
 '145728',
 '145755',
 '145862',
 '145891',
 '14592',
 '146127',
 '146208',
 '146240',
 '146253',
 '146256',
 '146387',
 '146420',
 '146487',
 '146503',
 '146654',
 '146676',
 '146685',
 '146738',
 '146769',
 '146850',
 '146855',
 '146901',
 '146910',
 '146917',
 '146933',
 '146979',
 '147049',
 '147108',
 '147216',
 '147226',
 '147294',
 '14730',
 '147331',
 '147366',
 '147409',
 '147459',
 '147501',
 '147506',
 '147518',
 '147526',
 '147547',
 '147586',
 '147646',
 '147694',
 '147743',
 '147779',
 '147873',
 '147879',
 '147915',
 '147926',
 '147934',
 '147980',
 '148188',
 '148299',
 '148366',
 '148400',
 '148508',
 '14857',
 '148629',
 '148706',
 '148963',
 '149095',
 '149115',
 '149150',
 '149179',
 '149202',
 '149221',
 '149280',
 '149410',
 '149577',
 '149604',
 '14970',
 '149731',
 '149763',
 '149810',
 '149973',
 '150013',
 '150032',
 '15017',
 '150196',
 '150224',
 '150237',
 '15032',
 '150324',
 '150360',
 '150537',
 '150559',
 '150636',
 '150691',
 '15071',
 '150812',
 '150819',
 '150931',
 '151000',
 '151053',
 '151110',
 '15112',
 '151125',
 '151159',
 '151170',
 '151178',
 '151307',
 '151358',
 '151414',
 '151480',
 '151564',
 '151576',
 '151585',
 '151646',
 '151651',
 '151655',
 '151731',
 '151739',
 '151801',
 '151807',
 '15203',
 '152176',
 '152209',
 '152211',
 '152255',
 '152273',
 '152286',
 '1523',
 '152326',
 '152328',
 '152406',
 '152434',
 '152459',
 '152461',
 '152529',
 '152621',
 '152677',
 '152701',
 '152789',
 '152922',
 '152987',
 '153130',
 '153259',
 '153394',
 '15354',
 '153543',
 '15355',
 '153567',
 '153716',
 '153879',
 '153994',
 '154011',
 '154139',
 '154154',
 '154207',
 '154210',
 '154257',
 '154324',
 '154363',
 '154399',
 '154462',
 '154497',
 '154567',
 '154616',
 '154667',
 '154705',
 '154755',
 '154798',
 '154816',
 '154927',
 '15497',
 '154972',
 '155009',
 '155035',
 '155105',
 '155118',
 '155142',
 '155191',
 '155216',
 '155341',
 '155356',
 '155519',
 '155644',
 '155741',
 '155864',
 '155993',
 '156084',
 '156125',
 '156135',
 '156236',
 '156324',
 '156370',
 '156396',
 '156410',
 '156458',
 '156620',
 '156636',
 '156763',
 '156812',
 '156835',
 '156859',
 '157119',
 '157125',
 '157170',
 '157172',
 '157181',
 '157206',
 '157261',
 '157279',
 '157350',
 '157416',
 '157450',
 '157635',
 '15764',
 '157714',
 '157825',
 '157911',
 '15792',
 '157965',
 '15818',
 '158222',
 '158302',
 '158440',
 '158494',
 '158497',
 '158507',
 '158536',
 '158556',
 '158602',
 '158694',
 '158760',
 '158824',
 '15885',
 '158863',
 '158878',
 '158982',
 '159028',
 '159133',
 '159376',
 '159459',
 '159582',
 '159601',
 '15968',
 '159680',
 '159683',
 '159754',
 '159924',
 '160004',
 '160104',
 '160115',
 '160181',
 '160260',
 '160317',
 '160331',
 '160341',
 '160428',
 '160535',
 '160559',
 '160585',
 '160661',
 '160691',
 '160735',
 '160771',
 '160823',
 '160974',
 '161019',
 '161062',
 '1611',
 '161161',
 '161193',
 ...]